<div ng-controller="UsersCtrl">
  <h2>Sign up</h2>

  <form ng-submit="signUp()">
    <div class="field">
        <label for="email">Email:</label>
        <input type="email" ng-model="user.email" placeholder="Email Address" required />
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <input type="password" ng-model="user.password" placeholder="Password" required />
    </div>

    <div class="field">
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" placeholder="Confirm Password" required />
    </div>

    <div class="actions">
      <input type="submit" value="login"/>
    </div>
  </form>
</div>
